<!DOCTYPE html>
<html>
  <head>
    <title>Sign App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "https://png.icons8.com/wired/2x/sign-up.png" %>
    <%= javascript_pack_tag 'sign' %>
    <%= stylesheet_pack_tag 'sign' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
